name: dbt-run
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'
jobs:
  dbt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install deps
        run: python -m pip install --upgrade pip && pip install -r requirements.txt
      - name: Run dbt
        run: |
          cd dbt
          dbt deps
          dbt seed --profiles-dir ..
          dbt run --profiles-dir ..
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}